<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.abao.zhongtui.dao2.BuyRecordMapper">
	<insert id="insertBuyRecord">
		insert into buy_record(good_id,create_time)values(#{goodId},now())
	</insert>
</mapper>
